<textarea name="content" form="edit" rows="20" cols="100"><%=@text%></textarea>
<form method="post" id="edit" action="/<%=params[:filename]%>">
<button type="submit" form="edit">Save Changes</button>
</form>