<form method="post" action="/users/signin">
  <div>
    <label for="username">Username:</label>
    <input name="username" value="<%=params[:username]%>"/><br/>
    <label for="password">Password:</label>
    <input name="password"/>
  </div>
  <button type="submit">Sign In</button>
</form>